.block{
    margin: auto;
    width: 500px;
    height: 200px;
    text-align: center;
}

h1{
    text-align: center;
}

#submit{
    margin-top: 10px;
}

#name{
    margin-bottom: 10px;
}

.input{
    text-align: center;
}







Er heerst paniek in het koninkrijk Gallifrey. Koning Egmond is ten einde raad en als koning Egmond ten einde raad is, dan roept hij zijn ten-einde-raadsheer Spinoza

Spinozal Het is een ramp! Het is een schandel

Sre Majestet Uwe Luidruchtigheid, wat is er aan de hand?

"Mijn schildpad is verdwenen! Zo maar, zonder waarschuwing En ik had net Lego voor hem gekocht

"Majesteit, uw schildpad komt vast vanzelf weer terug?

"Ja, da's leuk en aardig, maar hoe moet ik in de tussentijd programmeren leren?

Maar Sire, daar kunt u toch uw supercomputer voor gebruiken

"Spinoza je hebt helemaal gelikt Wat zou ik doen als ik jou niet had"

"My vervelen, Sire